<div class="text_body_heading">
 WELCOME TO TWITTOR*
<p>
<%= image_tag("twit.gif", :alt => "TWITTOR FTW") %>
<p>
<div class="text_body_todo">
*Twittor is in no way affiliated with Twitter&reg;
</div>
</div>
